<%= field_title = nil if not defined?(field_title) %>
<div class="form_row">
    <label for="<%= field %>">
      <%= field_title || User.human_attribute_name(field) %>
    </label>
    <%= form.password_field field,
                            :size => User::PASSWORD_SIZE,
                            :maxlength => User::PASSWORD_MAX_LENGTH %>
</div>